body{
	margin:20px auto;
	max-width:750px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px
}

h1,h2,h3{
	font-family: 'Noto Sans', sans-serif;
	line-height:1.2

}



p,a,li{
	font-family: 'Noto Sans', sans-serif;
}

a:hover{
    background-color: fuchsia;
    color: white;
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 5px hidden;
}

